.back{
    display: flex;
}
.back a{
    padding: 2%;
}

.back .bx{ 
    font-size: 3.125rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.ContainerComemmt{
    min-height: 100vh;
    background: url("https://res.cloudinary.com/practicaldev/image/fetch/s--nC1yoqNf--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/2re7bewq15mpw0ghmmnd.png");
}

h1{
   padding: 2%;
}
.cardComment{
    margin: 2%;
    padding: 1%;
border: 1px solid white;
border-radius: 1em;
border-color: hsla(0,0%,100%,.15)
}
.cardCommentText{
    color: #909090;
}
 hr{
    margin: 2%;
    width: 80%;
}
.label{
    padding: 10px;
}

.Formtextarea{
    padding-top: 1em;
    display: flex;
    align-items: center;
  
}



.inputtext{
    color: white;
    padding: 2%;
    background: transparent;
    border-radius: 1em;
border-color: hsla(0,0%,100%,.15)
}

.nombre{
    margin-right: 40px;
    padding: 1%;
}

.delete{
    padding-left: 70%;
}

.imgComment{
    position: absolute;
    opacity: 0.5;
    max-width: 100%;
    height: 100%;
}

.ContainerCardComment{
    display: grid;
        grid-template-columns: 50% 50% ;
}
@media screen and (max-width: 1200px){
    .ContainerCardComment{
        display: grid;
            grid-template-columns: 100% ;
    } 

}
.boton{
    margin-top: 2%;
    margin-left: 5%;
    background-color: black;
    color:  white;
    border: 2px solid  white;
    width: 20%;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
}