.Imgskill{
    width: 70px;
    height: 60px;
}
.skill{
    display: flex;
    margin: 2% ;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #ebebeb;

}
.container{
    display: flex;
    justify-content: space-around;
    margin: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 0.01rem solid #72EB3A;
}

.textCard{
    font-size: 1.25rem;
    margin-top: 1%;
    text-align: center;
}

.Card{
    border: 0.03rem solid #72EB3A;
    text-align: center;
}